@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Passion+One&display=swap");
:root {
  --font1: "Montserrat", sans-serif;
}
body {
  background-color: rgb(243, 234, 227);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixa-1{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 550px;
  width: 350px;
  background-image: url(images/image-product-desktop.jpg);
}

.caixa-2 {
  background-color: white;
  height: 550px;
  width: 350px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 20px;
}
.caixa-2 .botao {
  align-items: center;
}
.topico {
  color: #94969b;
  font-size: 1em;
  font-family: var(--font1);
}
.titulo {
  width: 300px;
  font-size: 2.5em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.descricao {
  font-family: var(--font1);
  color: #94969b;
  width: 280px;
  text-align: left;
  font-size: 1.2em;
  line-height: 1.6;
}
.precos {
  display: flex;
  flex-direction: row;
  gap:20px;
  align-items: center;
  margin-bottom: 30px;
  font-family: var(--font1);
}
.preco-1 {
  font-size: 3em;
  color: #3d8168;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.preco-2 {
  color: rgba(0, 0, 0, 0.486);
}
.botao {
  background-color: #3d8168;
  text-decoration: none;
  color: white;
  padding: 20px 80px;
  border-radius: 15px;
  font-size: 1.5em;
  font-family: var(--font1);
  font-weight: bold;
}
.botao:hover {
  background-color: #295847;
}
.botao > img {
  scale: 120%;
}
.container-botao{
    height: 100px
}
@media (max-width: 700px) {
  body {
    margin: 0px 22px ;
    flex-direction: column;
  }
  .caixa-1{
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/image-product-mobile.jpg);
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    margin-bottom: -10px;
  }
  .caixa-2 {
    align-items: center;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    padding-left: 0;
    height: 110%;
  }
  .titulo{
    font-size: 2.5em;
  }
  .topico{
    width: 300px;
    text-align: left;
    margin-top: 30px;
  }
  .descricao{
    line-height: 1.3;
  }
}
