@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
:root {
  --font1: "Outfit", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 98vh;
  background-color: #0d1a2d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.primary-box {
  display: flex;
  flex-direction: column;
  background-color: #15273f;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 30px 5px 20px #0c1729;
}
.container-image {
  position: relative;
}
.image {

  border-radius: 8px;
}
.image-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  border-radius: 8px;
  background-color: #00ffff5a;
  visibility: hidden;
}
.container-image:hover .image-overlay {
  visibility: visible;
  transition-duration: 0.5s;
  cursor: pointer;
}

.title {
  padding: 10px;
  color: white;
  font-family: var(--font1);
  font-size: 18px;
  font-weight: 600;
}
.title:hover {
  cursor: pointer;
  color: cyan;
}
.paragraph {
  padding: 10px;
  font-weight: 300;
  width: 320px;
  font-size: 18px;
  color: #8aacda;
  font-family: var(--font1);
}
.datas {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.description {
  padding: px;
  color: #8aacda;
  font-family: var(--font1);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 0.1px solid #8aadda5b;
}
.price {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--font1);
  color: #00eaffcb;
}
.time {
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--font1);
  color: #8aacda;
}
.avatar {
  scale: 60%;
  border: 2px solid white;
  border-radius: 50%;
}

.name {
  color: white;
  font-weight: 300;
}
.name:hover {
  cursor: pointer;
  color: cyan;
}
